%h1 Closed

%p
  Peer4commit is now closed. All the remaining funds have been sent to #{link_to "the Peercoin Foundation", "https://peercoin.net/foundation.html"}.
  See #{link_to "this post", "https://talk.peercoin.net/t/notice-the-peercoin-team-will-be-closing-peer4commit-please-withdraw-all-coins-before-sept-21st/9759"} for more information and discussion.
